.top-buffer { 
    margin-top: 20px; 
}

.search-bar {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.search-bar input#search-form{
  background: #b1a0d1;
  border: none;
  /*font-size: 10pt;*/
  float: left;
  color: #efecf5;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.search-bar input#search-form::-webkit-input-placeholder {
   color: #e0d9ec;
}

.search-bar input#search-form:-moz-placeholder { /* Firefox 18- */
   color: #e0d9ec;  
}

.search-bar input#search-form::-moz-placeholder {  /* Firefox 19+ */
   color: #e0d9ec;  
}

.search-bar input#search-form:-ms-input-placeholder {  
   color: #e0d9ec;  
}

.search-bar .icon{
  position: absolute;
  margin-left: -230px;
  margin-top: 6px;
  color: #FFFFFF;
}