{% extends 'base.html' %}

{% block title %}Add New Game{% endblock %}

{% block custom_css %}
    <link href="/static/css/addGame.css" rel="stylesheet">
    <link rel="stylesheet" href="https://silviomoreto.github.io/bootstrap-select/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block navbar %}

<ul class="nav navbar-nav navbar-right">
    <li class="hidden">
        <a href="#page-top"></a>
    </li>
    <li>
        <a class="page-scroll" href="/#about">About</a>
    </li>
    <li>
        <a class="page-scroll" href="/users#users">Users</a>
    </li>
    <li>
        <a class="page-scroll" href="/games#games">Games</a>
    </li>
    <li>
        <a class="page-scroll" href="/teams#teams">Teams</a>
    </li>
    <li>
        <a class="page-scroll" href="/communities#communities">Communities</a>
    </li>
    <li>
        <a class="page-scroll" href="/#team">Our Team</a>
    </li>
    <li>
        <a class="page-scroll" href="/#resources">Resources</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<section class="portfolio bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h2 class="section-heading">Add New Game</h2>

                    <form role="form" action= "/addGame" id="add-game-form" method="POST">

                        <hr style="border-color: white;">

                        <h3>
                            ID:<br>
                            <div class="input-col-4">

                                <!-- Edit Form Field -->
                                <small>
                                    <input type="text" class="form-control" id="game-id-add" name="game-id-add" placeholder="Please enter an integer">
                                </small>
                            </div>
                        </h3>

                        <!-- Name -->
                        <h3>
                            Name:<br>

                                <div class="input-col-4">

                                    <!-- add Form Field -->
                                    <small>
                                        <input type="text" class="form-control" id="game-name-add" name="game-name-add">
                                    </small>
                                </div>
                        </h3>

                        <!-- add Form Field -->
                        <h3 id='game-pic-add'>
                            <br>
                            Image URL:<br>
                            <div class="input-col-4">
                            <small><input type="url" name="game-pic-add" class="form-control"/></small>
                            </div>

                        </h3>

                        <!-- Description -->
                        <h3>
                            Description:<br>

                            <div class="input-col-6">
                                <!-- add Form Field -->
                                <small><textarea class="form-control" id="game-description-add" name="game-description-add"></textarea></small>
                            </div>
                        </h3>

                       <!-- Rating -->
                        <h3>
                            Rated:<br>

                            <div class="input-col-4">

                                <!-- add Form Field -->
                                <small>
                                    <input type="text" class="form-control" id="game-rating-add" name="game-rating-add">
                                </small>
                            </div>
                        </h3>

                        <!-- Genres -->
                        <h3>
                            Genres:<br>

                            <!-- add Form Field -->
                            <small id="game-genres-add" class="text-muted">

                                <!-- Have this hidden div in case there are no entries the add button will need a copy of the interior elements of this -->
                                <div class="copy-genre-fields hide">
                                    <div class="control-group input-group remove-input">
                                        <input type="text" name="genres[]" class="form-control" value="">
                                        <div class="input-group-btn"> 
                                            <button class="btn btn-default remove-genre" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="input-group control-group before-add-more-genres">
                                    <input type="text" name="genres[]" class="form-control" value="">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default add-more-genre" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                                        </div>
                                </div> 
                            </small>    
                        </h3>

                        <!-- Platforms -->
                        <h3>
                            Platforms:<br>

                            <!-- add Form Field -->
                            <small id="game-platforms-add" class="text-muted">

                                <!-- Have this hidden div in case there are no entries the add button will need a copy of the interior elements of this -->
                                <div class="copy-platform-fields hide">
                                    <div class="control-group input-group remove-input">
                                        <input type="text" name="platforms[]" class="form-control" value="">
                                        <div class="input-group-btn"> 
                                            <button class="btn btn-default remove-platform" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="input-group control-group before-add-more-platforms">
                                    <input type="text" name="platforms[]" class="form-control" value="">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default add-more-platform" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                                    </div>
                                </div> 
                            </small>  
                        </h3>

                        <!-- Release Date -->
                        <h3>
                            Release Date:<br>
                            <div class="date-input">

                                <!-- add Form Field -->
                                <small>
                                    <input class="form-control" type="date" value="{{today}}" id="game-release-date-add" name="game-release-date-add">
                                </small>
                            </div>
                        </h3>

                        <!-- Streamers -->
                        <h3>
                            Streamers:
                            <!-- add Form Field -->
                            <small>
                                <br>
                                <div class="btn-group bootstrap-select show-tick input-col-4" id="game-streamers-add">
                                    <select class="selectpicker form-control" name="game-streamers-add" multiple data-live-search="true" data-dropup-auto="false">
                                    {% for streamer in streamers %}
                                            <option value="{{streamer['id']}}">{{streamer['name']}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </small>
                        </h3>

                        <!-- Teams -->
                        <h3>
                            Teams:
                            <!-- add Form Field -->
                            <small>
                                <br>
                                <div class="btn-group bootstrap-select show-tick input-col-4" id="game-teams-add" name="game-teams-add">
                                    <select class="selectpicker form-control" name="game-teams-add" multiple data-live-search="true" data-dropup-auto="false">
                                    {% for team in teams %}
                                            <option value="{{team['id']}}">{{team['name']}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </small>
                        </h3>

                        <!-- Communities -->
                        <h3>
                            Communities:

                            <!-- add Form Field -->
                            <small><br>
                                <div class="btn-group bootstrap-select show-tick input-col-4" id="game-communities-add" name="game-communities-add">
                                    <select class="selectpicker form-control" name="game-communities-add" multiple data-live-search="true" data-dropup-auto="false">
                                    {% for community in communities %}
                                            <option value="{{community['id']}}">{{community['name']}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </small>
                        </h3>

                        <hr style="border-color: white;">

                        <div id="g-recaptcha" class="g-recaptcha" data-sitekey="6LdDhSkUAAAAACNeH507j02X8yH-p_QhJEEDJHHm" style="display:inline-table;"></div>
                        <br>
                        <br>
                        <button type="submit" id="game-add-submit" class="btn btn-primary streamglean-button">Submit</button>
                    </form>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://silviomoreto.github.io/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/static/js/addGame.js"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&amp;render=explicit" async defer></script>
{% endblock %}