{% extends 'base.html' %}

{% block title %}Add New User{% endblock %}

{% block custom_css %}
    <link href="/static/css/addUser.css" rel="stylesheet">
    <link rel="stylesheet" href="https://silviomoreto.github.io/bootstrap-select/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block navbar %}

<ul class="nav navbar-nav navbar-right">
	<li class="hidden">
		<a href="#page-top"></a>
	</li>
	<li>
		<a class="page-scroll" href="/#about">About</a>
	</li>
	<li>
		<a class="page-scroll" href="/users#users">Users</a>
	</li>
	<li>
		<a class="page-scroll" href="/games#games">Games</a>
	</li>
	<li>
		<a class="page-scroll" href="/teams#teams">Teams</a>
	</li>
	<li>
		<a class="page-scroll" href="/communities#communities">Communities</a>
	</li>
	<li>
		<a class="page-scroll" href="/#team">Our Team</a>
	</li>
	<li>
		<a class="page-scroll" href="/#resources">Resources</a>
	</li>
</ul>

{% endblock %}

{% block content %}

<section class="portfolio bg-light-gray">

		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">

					<h2 class="section-heading">Add New User</h2>

					<form role="form" id="add-user-form" action="/addUser" method="POST">
						

                        <hr style="border-color: white;">

                        <h3>
                            ID:<br>
                            <div class="input-col-4">

                                <!-- Edit Form Field -->
                                <small>
                                	<div class="form-group">
                                		<input class="form-control" id="user-id-add" name="user-id-add" required>
                                		<span class="help-block with-errors"></span>
                                	</div>
                                </small>
                            </div>
                        </h3>

                        <h3>
                            Image URL:<br>
                            <div class="input-col-4">

                                <!-- Edit Form Field -->
                                <small>
			                        <div id="outer-image-url" class="form-group">
                                		<input type="url" class="form-control" id="user-image-url-add" name="user-image-url-add" data-imageURL data-error="Please enter a URL that points to an image">
                                		<span class="help-block with-errors"></span>
                                	</div>
                                </small>
                            </div>
                        </h3>


						<!-- Name -->
                        <h3>
                            Name:<br>
                            <div class="input-col-4">

                                <!-- Edit Form Field -->
                                <small>
                                	<input type="text" class="form-control" id="user-name-add" name="user-name-add" required>
                                </small>
                            </div>
                        </h3>
						
                        <!-- Description -->
                        <h3>
                            Description:<br>
                            <div class="input-col-6">
                                <!-- Edit Form Field -->
                                <small><textarea class="form-control" id="user-description-add" name="user-description-add"></textarea></small>
                            </div>
                        </h3>

						<!-- Language -->
						<h3>
							Language:<br>
							<div class="input-col-4">
								<!-- Edit Form Field -->
								<small><input type="text" id="user-language-add" name="user-language-add" class="form-control"></small>
							</div>
						</h3>

						<!-- Views -->
						<h3>
							Views:<br>
							<div class="input-col-4">

								<!-- Edit Form Field -->
								<small>
									<div class="form-group">
                                		<input type="number" class="form-control" id="user-views-add" name="user-views-add" data-positive data-error="Please enter a non-negative whole number">
                                		<span class="help-block with-errors"></span>
                                	</div>
                                </small>
							</div>
						</h3>

						<!-- Followers -->
						<h3>
							Followers:<br>
							<div class="input-col-4">

								<!-- Edit Form Field -->
								<small>
									<div class="form-group">
                                		<input type="number" class="form-control" id="user-followers-add" name="user-followers-add" data-positive data-error="Please enter a non-negative whole number">
                                		<span class="help-block with-errors"></span>
                                	</div>
                                </small>
							</div>
						</h3>
						
						<!-- URL -->
						<h3>
							URL:<br>
							<div class="input-col-4">
								<!-- Edit Form Field -->
								<small>
									<div class="form-group">
										<input type="url" id="user-url-add" name="user-url-add" class="form-control">
										<span class="help-block with-errors"></span>
									</div>
								</small>
							</div>
						</h3>

						<!-- Game -->
						<h3>
                            Game:
                            <!-- Edit Form Field -->
                            <small>
                                <br>
                                <div class="btn-group bootstrap-select show-tick input-col-4" id="user-game-add" name="user-game-add">
                                    <select class="selectpicker form-control single-select" name="user-game-add" data-live-search="true" data-dropup-auto="false" multiple>
	                                    {% for game in games %}
	                                            <option value="{{game['id']}}">{{game['name']}}</option>
	                                    {% endfor %}
                                </select>
                                </div>
                            </small>
                        </h3>

						<!-- Community -->
                        <h3>
                            Community:
                            <!-- Edit Form Field -->
                            <small>
                                <br>
                                <div class="btn-group bootstrap-select show-tick input-col-4" id="user-community-add" name="user-community-add">
                                    <select class="selectpicker form-control" name="user-community-add" data-live-search="true" data-dropup-auto="false" multiple>
                                    {% for community in communities %}
                                            <option value="{{community['id']}}">{{community['name']}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </small>
                        </h3>

						<!-- Teams -->
                        <h3>
                            Teams:

                            <!-- Edit Form Field -->
                            <small>
                                <br>
                                <div class="btn-group bootstrap-select show-tick input-col-4" id="user-teams-add" name="user-teams-add">
                                    <select class="selectpicker form-control" name="user-teams-add" multiple data-live-search="true" data-dropup-auto="false">
                                    {% for team in teams %}
                                            <option value="{{team['id']}}">{{team['name']}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </small>
                        </h3>

						<!-- Created -->
						<h3>
							Created:<br>
							<div class="date-input">

								<!-- Edit Form Field -->
								<small>
									<input class="form-control" type="date" value="{{today}}" id="user-created-add" name="user-created-add">
								</small>
							</div>
						</h3>

						<!-- Updated -->
						<h3>
							Updated:<br>
							<div class="date-input">

								<!-- Edit Form Field -->
								<small>
									<input class="form-control" type="date" value="{{today}}" id="user-updated-add" name="user-updated-add">
								</small>
							</div>
						</h3>

						<hr style="border-color: white;">

						<div id="g-recaptcha" class="g-recaptcha" data-sitekey="6LdDhSkUAAAAACNeH507j02X8yH-p_QhJEEDJHHm" style="display:inline-table;"></div>
						<br>
						<br>
						<row>
						<button type="submit" id="user-add-submit" class="btn btn-primary streamglean-button">Submit</button>
						</row>
					</form>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://silviomoreto.github.io/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
<script src="/static/js/addUser.js"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&amp;render=explicit" async defer></script>
{% endblock %}