{% extends 'base.html' %}

{% block navbar %}

<!-- Search Bar 
<div class="col-md-3">
	<form class="navbar-form" role="search">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
		<div class="input-group-btn">
			<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
		</div>
	</div>
	</form>
</div>
-->

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
		<li class="hidden">
			<a href="#page-top"></a>
		</li>
		<li>
			<a class="page-scroll" href="/#about">About</a>
		</li>
		<li>
			<a class="page-scroll" href="/users#users">Users</a>
		</li>
		<li>
			<a class="page-scroll" href="/games#games">Games</a>
		</li>
		<li>
			<a class="page-scroll" href="/teams#teams">Teams</a>
		</li>
		<li>
			<a class="page-scroll" href="#communities">Communities</a>
		</li>
		<li>
			<a class="page-scroll" href="/#team">Our Team</a>
		</li>
		<li>
			<a class="page-scroll" href="/#resources">Resources</a>
		</li>
	</ul>
</div>

{% endblock %}

{% block content %}
<!-- Communities Section -->
		<section id="communities" class="portfolio bg-light-gray">
			<div class="container" style="width: 100%; text-align:center;">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading">communities</h2>
					</div>
				</div>
				
				<!-- Communities Filter -->
				<form class="form-inline" action="/filter/communities#communities" style="text-align: center;">

					<div class="form-group">
<!-- 					    <label for="community"><h5 style="padding-right: 10px;">Has Non-Default Image:&#9;</h5></label>
 -->					    <h5><label class="checkbox-inline"><input type="checkbox" name="has-image" value="True">Has Non-Default Image</label></h5>
					</div>
					<button type="submit" class="btn btn-default" style="margin-left: 5px;">Filter</button>
				</form>
				{% if communities_filter %}
					<p>Applied Filter: Has Non-Default Image</p>
					<a href="/communities#communities" class="btn btn-default" role="button">Remove Filter</a>
					<br><br>
				{% endif %}

				<br>
				<div class="dropdown">
					<button class="dropbtn">SORT <span class="caret"></span></button>
					<div class="dropdown-content">
						<a href="{{ url_for('handle_sort_az', type_sort='a-z', model_type='communities') ~ '#communities'}}"> A -> Z </a>
						<a href="{{ url_for('handle_sort_az', type_sort='z-a', model_type='communities') ~ '#communities'}}"> Z -> A </a>
					</div>
				</div>
				<hr style="border-color: white;">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div id="communityCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
							<div class="carousel-inner" role="listbox">
								{% for community in communities %}
									{% if loop.first %}
        								<div class="item active">
											<div class="container first-slide">
									{% elif (loop.index-1) % 3 == 0 %}
      										</div></div>
	      									<div class="item">
												<div class="container {loop.index}">
									{% endif %}
											<div class="col-md-4 col-sm-6 portfolio-item">
												<a href="{{'/communities/' ~ community['id']}}" class="portfolio-link" data-toggle="modal">
													<div class="portfolio-hover">
														<div class="portfolio-hover-content">
															<i class="fa fa-plus fa-3x"></i>
														</div>
													</div>
													<img src={{community['image_url']}} style="width:350px;height:350px;" class="img-responsive" alt="">
												</a>
												<div class="portfolio-caption portfolio-caption-white">
													<h4>{{community['name']}}</h4>
												</div>
											</div>
											{% if loop.last %}
										</div>
									</div>
											{% endif %}

								{% endfor %}
							</div>
							<a class="left carousel-control" href="#communityCarousel" role="button" data-slide="prev" style="background: none;">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color: #6441A4"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#communityCarousel" role="button" data-slide="next" style="background: none;">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #6441A4"></span>
								<span class="sr-only">Next</span>
							</a>

							<!-- Indicators -->
							<ol class="carousel-indicators carousel-indicators-numbers" style="position: relative; top: 10px;">
								{% for community in communities %}
									{% if loop.first %}
										<li data-target="#communityCarousel" data-slide-to="0" class="active">1</li>
									{% elif loop.index % 3 == 0 and not loop.last %}
										<li data-target="#communityCarousel" data-slide-to="{{loop.index // 3}}" class="">{{loop.index // 3 + 1}}</li>
									{% endif %}
								{% endfor %}
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}