{% extends 'base.html' %}

{% block custom_css %}
    <link href="/static/css/editGame.css" rel="stylesheet">
    <link rel="stylesheet" href="https://silviomoreto.github.io/bootstrap-select/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block navbar %}

<ul class="nav navbar-nav navbar-right">
    <li class="hidden">
        <a href="#page-top"></a>
    </li>
    <li>
        <a class="page-scroll" href="/#about">About</a>
    </li>
    <li>
        <a class="page-scroll" href="/users#users">Users</a>
    </li>
    <li>
        <a class="page-scroll" href="/games#games">Games</a>
    </li>
    <li>
        <a class="page-scroll" href="/teams#teams">Teams</a>
    </li>
    <li>
        <a class="page-scroll" href="/communities#communities">Communities</a>
    </li>
    <li>
        <a class="page-scroll" href="/#team">Our Team</a>
    </li>
    <li>
        <a class="page-scroll" href="/#resources">Resources</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<!-- ID -->
<section id={{game['_id']}}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">


                    <form role="form" id="edit-game-form">


                        <!-- Hidden id for edit form used to update database -->
                        <input type="hidden" id="game-id-edit" name="game-id-edit" value="{{game['id']}}">
                    
                        <!-- Picture -->
                        <img src={{game['image_url']}}>

                        <!-- Name -->
                        <h3>
                            Name:<br>

                                <div class="input-col-4">
                                    <!-- Template Field -->
                                    <small id="game-name" class="text-muted">{{game['name']}}</small>

                                    <!-- Edit Form Field -->
                                    <small>
                                            <input type="text" class="form-control" id="game-name-edit" name="game-name-edit" value="{{game['name']}}">
                                    </small>
                                </div>
                        </h3>

                        <!-- Description -->
                        <h3>
                            Description:<br>

                            <div class="input-col-6">
                                <!-- Template Field -->
                                <small id="game-description" class="text-muted">{{game['description']}}</small>

                                <!-- Edit Form Field -->
                                <small><textarea class="form-control" id="game-description-edit" name="game-description-edit">{{game['description']}}</textarea></small>
                            </div>
                        </h3>

                       <!-- Rating -->
                        <h3>
                            Rated:<br>

                            <div class="input-col-4">
                                <!-- Template Field -->
                                <small id="game-rating" class="text-muted">{{game['rating']}}</small>

                                <!-- Edit Form Field -->
                                <small>
                                    <input type="text" class="form-control" id="game-rating-edit" name="game-rating-edit" value="{{game['rating']}}">
                                </small>
                            </div>
                        </h3>

                        <!-- Genres -->
                        <h3>
                            Genres:

                            <!-- Template Field -->
                            <small id="game-genres" class="text-muted">
                                {% for genre in game['genres'] %}
                                    <br>
                                    {{genre}}
                                {% endfor %}
                            </small>

                            <!-- Edit Form Field -->
                            <small id="game-genres-edit" class="text-muted">

                                <!-- Have this hidden div in case there are no entries the add button will need a copy of the interior elements of this -->
                                <div class="copy-genre-fields hide">
                                    <div class="control-group input-group remove-input">
                                        <input type="text" name="genres[]" class="form-control" value="">
                                        <div class="input-group-btn"> 
                                            <button class="btn btn-default remove-genre" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                {% for genre in game['genres'] %}
                                    <br>
                                    <div class="copy-genre-fields">
                                            <div class="control-group input-group remove-input">
                                                <input type="text" name="genres[]" class="form-control" value="{{genre}}">
                                                <div class="input-group-btn"> 
                                                    <button class="btn btn-default remove-genre" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    {% if loop.last %}
                                        <div class="input-group control-group before-add-more-genres">
                                            <input type="text" name="genres[]" class="form-control" value="">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default add-more-genre" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                                                </div>
                                        </div>                                        
                                    {% endif %}
                                {% endfor %}
                            </small>    
                        </h3>

                        <!-- Platforms -->
                        <h3>
                            Platforms:

                            <!-- Template Field -->
                            <small id="game-platforms" class="text-muted">
                                <br>
                                {% for platform in game['platforms'] %}
                                    {{platform}}
                                    <br>
                                {% endfor %}
                            </small>

                            <!-- Edit Form Field -->
                            <small id="game-platforms-edit" class="text-muted">

                                <!-- Have this hidden div in case there are no entries the add button will need a copy of the interior elements of this -->
                                <div class="copy-platform-fields hide">
                                    <div class="control-group input-group remove-input">
                                        <input type="text" name="platforms[]" class="form-control" value="">
                                        <div class="input-group-btn"> 
                                            <button class="btn btn-default remove-platform" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <br>
                                {% for platform in game['platforms'] %}
                                    <div class="copy-platform-fields">
                                        <div class="control-group input-group remove-input">
                                            <input type="text" name="platforms[]" class="form-control" value="{{platform}}">
                                            <div class="input-group-btn"> 
                                                <button class="btn btn-default remove-platform" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    {% if loop.last %}
                                        <div class="input-group control-group before-add-more-platforms">
                                            <input type="text" name="platforms[]" class="form-control" value="">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default add-more-platform" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                                                </div>
                                        </div>                                        
                                    {% endif %}                                    
                                {% endfor %}
                            </small>  
                        </h3>

                        <!-- Release Date -->
                        <h3>
                            Release Date:<br>

                            <div class="date-input">
                                <!-- Template Field -->
                                <small class="text-muted" id="game-release-date">{{game['release_date']}}</small>

                                <!-- Edit Form Field -->
                                <small>
                                    <input class="form-control" type="date" value="{{game['release_date']}}" id="game-release-date-edit" name="game-release-date-edit">
                                </small>
                            </div>
                        </h3>

                        <!-- Streamers -->
                        <h3>
                            Streamers:
                                
                            <!-- Template Field -->
                            {% if game['user_ids'] %}
                                <small class="text-muted" id="game-streamers">
                                    {% for _id in game['user_ids'] %}
                                        <a href="{{ url_for('show_users', wow=_id)}}"><br>{{game['user_names'][_id]}}</a>
                                    {% endfor %}
                                </small>
                            {% else %}
                                <small class="text-muted" id="game-streamers">
                                    <br>None
                                </small>
                            {% endif %}

                            <!-- Edit Form Field -->
                            <small>
                                <br>
                                <div class="btn-group bootstrap-select show-tick col-md-4" id="game-streamers-edit" name="game-streamers-edit">
                                    <select class="selectpicker form-control" name="game-streamers-edit" multiple data-live-search="true" data-dropup-auto="false">
                                    {% for streamer in streamers %}
                                        {% if game['user_ids'] and streamer['id'] in game['user_ids'] %}
                                            <option value="{{streamer['id']}}" selected>{{streamer['name']}}</option>
                                        {% else %}
                                            <option value="{{streamer['id']}}">{{streamer['name']}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                </div>
                            </small>
                        </h3>

                        <!-- Teams -->
                        <h3>
                            Teams:

                            <!-- Template Field -->
                            {% if game['team_ids'] %}
                                <small class="text-muted" id="game-teams">
                                    {% for _id in game['team_ids'] %}
                                        <a href="{{ url_for('show_teams', wow=_id)}}"><br>{{game['team_names'][_id]}}</a>
                                    {% endfor %}
                                </small>
                            {% else %}
                                <small class="text-muted" id="game-teams">
                                    <br>None
                                </small>
                            {% endif %}

                            <!-- Edit Form Field -->
                            <small>
                                <br>
                                <div class="btn-group bootstrap-select show-tick col-md-4" id="game-teams-edit" name="game-teams-edit">
                                    <select class="selectpicker form-control" name="game-teams-edit" multiple data-live-search="true" data-dropup-auto="false">
                                    {% for team in teams %}
                                        {% if game['team_ids'] and team['id'] in game['team_ids'] %}
                                            <option value="{{team['id']}}" selected>{{team['name']}}</option>
                                        {% else %}
                                            <option value="{{team['id']}}">{{team['name']}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                </div>
                            </small>
                        </h3>

                        <!-- Communities -->
                        <h3>
                            Communities:
                            <!-- Template Field -->                            
                            {% if game['community_ids'] %}
                                <small class="text-muted" id="game-communities">
                                    {% for _id in game['community_ids'] %}
                                        <a href="{{ url_for('show_communities', wow=_id)}}"><br>{{game['community_names'][_id]}}</a>
                                    {% endfor %}
                                </small>
                            {% else %}
                                <small class="text-muted" id="game-communities">
                                    <br>None
                                </small>
                            {% endif %}

                            <!-- Edit Form Field -->
                            <small><br>
                                <div class="btn-group bootstrap-select show-tick col-md-4" id="game-communities-edit" name="game-communities-edit">
                                    <select class="selectpicker form-control" name="game-communities-edit" multiple data-live-search="true" data-dropup-auto="false">
                                    {% for community in communities %}
                                        {% if game['community_ids'] and community['id'] in game['community_ids'] %}
                                            <option value="{{community['id']}}" selected>{{community['name']}}</option>
                                        {% else %}
                                            <option value="{{community['id']}}">{{community['name']}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                </div>
                            </small>
                        </h3>

                    <button type="button" id="game-edit-submit" class="btn btn-primary">Submit</button>
                </form>
                <button type="button" id="game-edit-button"class="btn btn-primary">Edit</button>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://silviomoreto.github.io/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/static/js/editGame.js"></script>
{% endblock %}