{% extends 'base.html' %}

{% block content %}

<!-- ID -->
<section id={{game['_id']}}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                    <!-- Picture -->
                    <img src={{game['image_url']}}>

                    <!-- Name -->
                    <h3>
                        Name:
                        <small class="text-muted">{{game['name']}}</small>
                    </h3>

                    <!-- Description -->
                    <h3>
                        Description:
                            <small class="text-muted">{{game['description']}}</small>
                    </h3>

                   <!-- Rating -->
                    <h3>
                        Rated:
                        <small class="text-muted">{{game['rating']}}</small>
                    </h3>

                    <!-- Genres -->
                    <h3>
                        Genres:
                        {% for genre in game['genres'] %}
                        <br />
                        <small class="text-muted">{{genre}}</small>
                        {% endfor %}
                    </h3>

                    <!-- Platforms -->
                    <h3>
                        Platforms:
                        {% for platform in game['platforms'] %}
                        <br />
                        <small class="text-muted">{{platform}}</small>
                        {% endfor %}
                    </h3>

                    <!-- Release Date -->
                    <h3>
                        Release Date:
                        <small class="text-muted">{{game['release_date']}}</small>
                    </h3>

                    <!-- Streamers -->
                    <h3>
                        Streamers:
                        {% if game['user_ids'] %}
                            {% for _id in game['user_ids'] %}
                                <small class="text-muted"><a href="{{ url_for('show_users', wow=user)}}"><br />{{game['user_names'][_id]}}</a></small>
                            {% endfor %}
                        {% else %}
                            <small class="text-muted">None</small>
                        {% endif %}
                    </h3>

                    <!-- Teams -->
                    <h3>
                        Teams:
                        {% if game['team_ids'] %}
                            {% for _id in game['team_ids'] %}
                                <small class="text-muted"><a href="{{ url_for('show_teams', wow=team)}}"><br />{{game['team_names'][_id]}}</a></small>
                            {% endfor %}
                        {% else %}
                            <small class="text-muted">None</small>
                        {% endif %}
                    </h3>

                    <!-- Communities -->
                    <h3>
                        Communities:
                        {% if game['community_ids'] %}
                            {% for _id in game['community_ids'] %}
                                <small class="text-muted"><a href="{{ url_for('show_communities', wow=community)}}"><br />{{game['community_names'][_id]}}</a></small>
                            {% endfor %}
                        {% else %}
                            <small class="text-muted">None</small>
                        {% endif %}
                    </h3>
                </div>
            </div>
        </div>
    </section>

{% endblock %}