<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>streamGlean</title>

	<!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="/static/css/agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>
<body id="page-top" class="index">


	<!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">streamGlean</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#streamers">Streamers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#games">Games</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#teams">Teams</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#communities">Communities</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Our Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#resources">Resources</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To streamGlean!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Description of the site, its purpose, its intended users</h4>
                </div>
            </div>
        </div>
    </section>

    <!-- Streamers Section -->
    <section id="streamers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Streamers</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/lirik-profile_image-476e7a592cdfed74-300x300.png" style="width:112px;height:112px;">
                    <h3 class="service-heading">LIRIK</h3>
                    <h5>
                        Game:
                        <small class="text-muted">League of Legends</small>
                    </h5>
                    <h5>
                        Stream Type:
                        <small class="text-muted">Live</small>
                    </h5>
                    <h5>
                        Mature:
                        <small class="text-muted">No</small>
                    </h5>
                    <h5>
                        Language:
                        <small class="text-muted">English</small>
                    </h5>
                    <h5>
                        Views:
                        <small class="text-muted">181544811</small>
                    </h5>
                    <h5>
                        Followers:
                        <small class="text-muted">1692237</small>
                    </h5>
                    <h5>
                        URL:
                        <small class="text-muted"><a href="https://www.twitch.tv/lirik">https://www.twitch.tv/lirik</a></small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/legendarylea-profile_image-d0f3a63980113816-300x300.jpeg" style="width:112px;height:112px;">
                    <h3 class="service-heading">LegendaryLea</h3>
                    <h5>
                        Game:
                        <small class="text-muted">Horizon Zero Dawn</small>
                    </h5>
                    <h5>
                        Stream Type:
                        <small class="text-muted">Live</small>
                    </h5>
                    <h5>
                        Mature:
                        <small class="text-muted">No</small>
                    </h5>
                    <h5>
                        Language:
                        <small class="text-muted">English</small>
                    </h5>
                    <h5>
                        Views:
                        <small class="text-muted">35420431</small>
                    </h5>
                    <h5>
                        Followers:
                        <small class="text-muted">615776</small>
                    </h5>
                    <h5>
                        URL:
                        <small class="text-muted"><a href="https://www.twitch.tv/legendarylea">https://www.twitch.tv/legendarylea</a></small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/42dfc148727317d6-profile_image-300x300.jpeg" style="width:112px;height:112px;">
                    <h3 class="service-heading">MitchJones</h3>
                    <h5>
                        Game:
                        <small class="text-muted">IRL</small>
                    </h5>
                    <h5>
                        Stream Type:
                        <small class="text-muted">Live</small>
                    </h5>
                    <h5>
                        Mature:
                        <small class="text-muted">No</small>
                    </h5>
                    <h5>
                        Language:
                        <small class="text-muted">English</small>
                    </h5>
                    <h5>
                        Views:
                        <small class="text-muted">17966344</small>
                    </h5>
                    <h5>
                        Followers:
                        <small class="text-muted">259126</small>
                    </h5>
                    <h5>
                        URL:
                        <small class="text-muted"><a href="https://www.twitch.tv/mitchjones">https://www.twitch.tv/mitchjones</a></small>
                    </h5>
                </div>
            </div>
        </div>
    </section>



    <!-- Games Section -->
    <section id="games" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Games</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/games/league-of-legends" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-272x380.jpg" style="width:350px;height:350px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>League of Legends</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/games/dota-2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://static-cdn.jtvnw.net/ttv-boxart/Dota%202-272x380.jpg" style="width:350px;height:350px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Dota 2</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/games/counter-strike-global-offensive" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://static-cdn.jtvnw.net/ttv-boxart/Counter-Strike:%20Global%20Offensive-272x380.jpg" style="width:350px;height:350px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Counter-Strike: Global Offensive</h4>
                    </div>
                </div>
        </div>
    </section>




    <!-- <section id="games">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Games</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-272x380.jpg" style="width:112px;height:112px;">
                    <h3 class="service-heading">League of Legends</h3>
                </div>
                <div class="col-md-4">
                    <img src="https://static-cdn.jtvnw.net/ttv-boxart/Dota%202-272x380.jpg" style="width:112px;height:112px;">
                    <h3 class="service-heading">Dota 2</h3>
                </div>
                <div class="col-md-4">
                    <img src="https://static-cdn.jtvnw.net/ttv-boxart/Counter-Strike:%20Global%20Offensive-272x380.jpg" style="width:112px;height:112px;">
                    <h3 class="service-heading">Counter-Strike: Global Offensive</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>
                        Popularity:
                        <small class="text-muted">268833</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Popularity:
                        <small class="text-muted">158030</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Popularity:
                        <small class="text-muted">113753</small>
                    </h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>
                        Viewers:
                        <small class="text-muted">269843</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Viewers:
                        <small class="text-muted">160183</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Viewers:
                        <small class="text-muted">117295</small>
                    </h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>
                        Channels:
                        <small class="text-muted">1827</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Channels:
                        <small class="text-muted">474</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Channels:
                        <small class="text-muted">1101</small>
                    </h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>
                        Giantbomb_id:
                        <small class="text-muted">24024</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Giantbomb_id:
                        <small class="text-muted">32887</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Giantbomb_id:
                        <small class="text-muted">36113</small>
                    </h5>
                </div>
            </div>
        </div>
    </section> -->

    <!-- Teams Section -->
    <section id="teams" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Teams</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Communities Section -->
    <section id="communities">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Communities</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="https://static-cdn.jtvnw.net/community-images/ff1e77af-551d-4993-945c-f8ceaa2a2829/b7d6418f-32d6-48e4-8adf-1f592d9df4f8-185x258.jpeg" style="width:112px;height:112px;">
                    <h3 class="service-heading">Positivity</h3>
                </div>
                <div class="col-md-4">
                    <img src="https://static-cdn.jtvnw.net/community-images/6e940c4a-c42f-47d2-af83-0a2c7e47c421/08b6da6b-e74b-407d-a68f-ae7a04c956ec-185x258.png" style="width:112px;height:112px;">
                    <h3 class="service-heading">Speedrunning</h3>
                </div>
                <div class="col-md-4">
                    <img src="https://static-cdn.jtvnw.net/community-images/5181e78f-2280-42a6-873d-758e25a7c313/4d8cd2a4-fecd-4593-af7d-20699357188a-185x258.jpeg" style="width:112px;height:112px;">
                    <h3 class="service-heading">CatsOnly</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>
                        Summary:
                        <small class="text-muted">Streamers who is all about the joy and happiness of gaming, being creative, and the audience watching.</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Summary:
                        <small class="text-muted">Welcome to the Speedrunning Community, we like to play games fast! Connect with fellow speedrun enthusiasts by watching and/or streaming speedruns here!</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Summary:
                        <small class="text-muted">Meow. Cats Only. No Dogs. Meow.</small>
                    </h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>
                        Channels:
                        <small class="text-muted">180</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Channels:
                        <small class="text-muted">180</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Channels:
                        <small class="text-muted">42</small>
                    </h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>
                        Viewers:
                        <small class="text-muted">12688</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Viewers:
                        <small class="text-muted">10763</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Viewers:
                        <small class="text-muted">33909</small>
                    </h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>
                        Description:
                        <small class="text-muted">It's all about positive vibes. Anything that revolves on everyone having a good day, or need a pick me up with laughs and smiles. This is the community you want to be in and watch.</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Description:
                        <small class="text-muted">Welcome to the Speedrunning Community, we like to play games fast! Speedrunners are an extremely diverse and welcoming group that enjoys games of all genres, consoles, and eras! Speedrunners enjoy collaborating to optimize games by finding time saving tricks and glitches to drive speedrun times as low as possible. Whether you are going for a world record or just trying to learn or improve at a game you will find yourself at home here. Speedrunners often organize online and live speedrunning events that benefit charities or are just for fun. If you enjoy friendly competition you can find it in the form of races and tournaments that are typically open to join.</small>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5>
                        Description:
                        <small class="text-muted">Cats Only. Kitties Only.</small>
                    </h5>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">The Bots.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 team-col">
                    <div class="team-member">
                        <img src="/static/img/team/brittany_headshot.jpg" class="img-responsive img-circle" alt="">
                        <h4>Brittany Madrigal</h4>
                        <p class="text-muted">
                            Senior at the University of Texas at Austin. CompSci major. Enjoys video games, singing, cats, Star Trek, and cheese.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 team-col">
                    <div class="team-member">
                        <img src="/static/img/team/hannah_headshot.jpg" class="img-responsive img-circle" alt="">
                        <h4>Hannah Perry</h4>
                        <p class="text-muted">
                            Senior computer science student at the University of Texas at Austin. Hannah enjoys traveling to as many places and possible and playing soccer, and she will be relocating to Seattle at the end of the summer to start adulting.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 team-col">
                    <div class="team-member">
                        <img src="/static/img/team/bryan_headshot.jpg" class="img-responsive img-circle" alt="">
                        <h4>Bryan Bernal</h4>
                        <p class="text-muted">
                            Junior CS student at UT Austin. Bryan likes to spend his free time playing video games and worrying about whatever classes he’s taking at the moment.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 team-col">
                    <div class="team-member">
                        <img src="/static/img/team/tonya_headshot.jpg" class="img-responsive img-circle" alt="">
                        <h4>Tonya Howard</h4>
                        <p class="text-muted">
                            Bio
                        </p>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-4 team-col">
                    <h5>Major Responsibilites</h5>
                    <p>API scraping and Apiary documentation</p>
                </div>
                <div class="col-sm-4 team-col">
                    <h5>Major Responsibilites</h5>
                    <p>AWS and Website development</p>
                </div>
                <div class="col-sm-4 team-col">
                    <h5>Major Responsibilites</h5>
                    <p>API scraping and Apiary documentation</p>
                </div>
                <div class="col-sm-4 team-col">
                    <h5>Major Responsibilites</h5>
                    <p>PlanITpoker and API research</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-4 team-col">
                    <h5>Number of Commits</h5>
                    <p>XX</p>
                </div>
                <div class="col-sm-4 team-col">
                    <h5>Number of Commits</h5>
                    <p>XX</p>
                </div>
                <div class="col-sm-4 team-col">
                    <h5>Number of Commits</h5>
                    <p>XX</p>
                </div>
                <div class="col-sm-4 team-col">
                    <h5>Number of Commits</h5>
                    <p>XX</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-4 team-col">
                    <h5>Number of Issues</h5>
                    <p>XX</p>
                </div>
                <div class="col-sm-4 team-col">
                    <h5>Number of Issues</h5>
                    <p>XX</p>
                </div>
                <div class="col-sm-4 team-col">
                    <h5>Number of Issues</h5>
                    <p>XX</p>
                </div>
                <div class="col-sm-4 team-col">
                    <h5>Number of Issues</h5>
                    <p>XX</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-4 team-col">
                    <h5>Number of Unit Tests</h5>
                    <p>N/A</p>
                </div>
                <div class="col-sm-4 team-col">
                    <h5>Number of Unit Tests</h5>
                    <p>N/A</p>
                </div>
                <div class="col-sm-4 team-col">
                    <h5>Number of Unit Tests</h5>
                    <p>N/A</p>
                </div>
                <div class="col-sm-4 team-col">
                    <h5>Number of Unit Tests</h5>
                    <p>N/A</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Total number of commits: XX; Total number of issues: XX; Total number of unit tests: N/A</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Resources Section -->
    <section id="resources">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resources</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Needs to include:</h4>
                    <ul>
                        <li>a link to the Apiary API</li>
                        <li>a link to the GitHub Repo</li>
                        <li>a link to the Trello</li>
                        <li>Data
                            <ul>
                                <li>links to the data sources</li>
                                <li>description of how each was scraped</li>
                            </ul>
                        </li>
                        <li>Tools
                            <ul>
                                <li>tools used (special focus on optional tools that were not required)</li>
                                <li>describe their use</li>
                            </ul>
                        </li>
                        <li>link to Report.pdf</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    

	<!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/agency.min.js"></script>

</body>
</html>