{% extends 'base.html' %}

{% block content %}

{% if name['_id'] %}
    <section id={{name['_id']}}>
    {% else %}
    <section id=eh>
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{name['display_name']}}</h2>
                        {% if name['image_url'] %}
                        <img src={{name['image_url']}}>
                        {% endif %}
                    {% if name['name'] %}
                    <h3>
                        Name:
                        <small class="text-muted">{{name['name']}}</small>
                    </h3>
                    {% endif %}
                    {% if name['description'] %}
                    <h3>
                        Description:
                            <small class="text-muted">{{name['description']}}</small>
                    </h3>
                    {% endif %}

                    {% if name['info'] %}
                    <h3>
                        Info:
                            <small class="text-muted">{{name['info']}}</small>
                    </h3>
                    {% endif %}

                    {% if name['language'] %}
                    <h3>
                        Language:
                        <small class="text-muted">{{name['language']}}</small>
                    </h3>
                    {% endif %}

                    {% if name['views'] %}
                    <h3>
                        Views:
                        <small class="text-muted">{{name['views']}}</small>
                    </h3>
                    {% endif %}

                    {% if name['followers'] %}
                    <h3>
                        Followers:
                        <small class="text-muted">{{name['followers']}}</small>
                    </h3>
                    {% endif %}

                    {% if name['url'] %}
                    <h3>
                        URL:
                        <small class="text-muted"><a href={{name['url']}}>{{name['url']}}</a></small>
                    </h3>
                    {% endif %}

                    {% if name['rules'] %}
                    <h3>
                        Rules:
                        <small class="text-muted">{{name['rules']}}</small>
                    </h3>
                    {% endif %}

                    {% if name['rating'] %}
                    <h3>
                        Rated:
                        <small class="text-muted">{{name['rating']}}</small>
                    </h3>
                    {% endif %}

                    {% if name['genres'] %}
                    <h3>
                        Genres:
                        {% for genre in name['genres'] %}
                        <br />
                        <small class="text-muted">{{genre}}</small>
                        {% endfor %}
                    </h3>
                    {% endif %}

                    {% if name['platforms'] %}
                    <h3>
                        Platforms:
                        {% for platform in name['platforms'] %}
                        <br />
                        <small class="text-muted">{{platform}}</small>
                        {% endfor %}
                    </h3>
                    {% endif %}

                    {% if name['release_date'] %}
                    <h3>
                        Release Date:
                        <small class="text-muted">{{name['release_date']}}</small>
                    </h3>
                    {% endif %}

                    {% if name['owner_id'] %}
                    <h3>
                        Owner:
                        <small class="text-muted"><a href="{{ url_for('show_users', wow=name['owner_id'])}}">{{name['owner']}}</a></small>
                    </h3>
                    {% endif %}

                    {% if name['game_id'] %}
                    <h3>
                        Game:
                        <small class="text-muted"><a href="{{ url_for('show_games', wow=name['game_id'])}}">{{name['game']}}</a></small>
                    </h3>
                    {% endif %}

                    {% if name['community_id'] %}
                    <h3>
                        Community:
                        <small class="text-muted"><a href="{{ url_for('show_communities', wow=name['community_id'])}}">{{name['community']}}</a></small>
                    </h3>
                    {% endif %}

                    {% if name['user_ids'] %}
                    <h3>
                        Streamers:
                        {% for user in name['user_ids'] %}
                            {% if name['user_names'][user] %}
                            <small class="text-muted"><a href="{{ url_for('show_users', wow=user)}}"><br />{{name['user_names'][user]}}</a></small>
                            {% else %}
                            <small class="text-muted">None</small>
                            {% endif %}
                        {% endfor %}
                    </h3>
                    {% endif %}

                    {% if name['game_ids'] %}
                    <h3>
                        Games:
                        {% for game in name['game_ids'] %}
                            {% if name['game_names'][game] %}
                            <small class="text-muted"><a href="{{ url_for('show_games', wow=game)}}"><br />{{name['game_names'][game]}}</a></small>
                            {% else %}
                            <small class="text-muted">None</small>
                            {% endif %}
                        {% endfor %}
                    </h3>
                    {% endif %}

                    {% if name['team_ids'] %}
                    <h3>
                        Teams:
                        {% for team in name['team_ids'] %}
                            {% if name['team_names'][team] %}
                            <small class="text-muted"><a href="{{ url_for('show_teams', wow=team)}}"><br />{{name['team_names'][team]}}</a></small>
                            {% else %}
                            <small class="text-muted">None</small>
                            {% endif %}
                        {% endfor %}
                    </h3>
                    {% endif %}

                    {% if name['community_ids'] %}
                    <h3>
                        communities:
                        {% for community in name['community_ids'] %}
                            {% if name['community_names'][community] %}
                            <small class="text-muted"><a href="{{ url_for('show_communities', wow=community)}}"><br />{{name['community_names'][community]}}</a></small>
                            {% else %}
                            <small class="text-muted">None</small>
                            {% endif %}
                        {% endfor %}
                    </h3>
                    {% endif %}

                    {% if name['created'] %}
                    <h3>
                        Created:
                        <small class="text-muted">{{name['created']}}</small>
                    </h3>
                    {% endif %}

                    {% if name['updated'] %}
                    <h3>
                        Updated:
                        <small class="text-muted">{{name['updated']}}</small>
                    </h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}