{% extends 'base.html' %}

{% block content %}

<!-- ID -->
<section id={{team['_id']}}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                    <!-- Picture -->
                    <img src={{team['image_url']}}>

                    <!-- Name -->
                    <h3>
                        Name
                        <small class="text-muted">{{team['name']}}</small>
                    </h3>

                    <!-- Info -->
                    <h3>
                        Info:
                            <small class="text-muted">{{team['info']}}</small>
                    </h3>

                    <!-- Streamers -->
                    <h3>
                        Streamers:
                        {% if team['user_ids'] %}
                            {% for _id in team['user_ids'] %}
                                <small class="text-muted"><a href="{{ url_for('show_users', wow=_id)}}"><br />{{team['user_names'][_id]}}</a></small>
                            {% endfor %}
                        {% else %}
                            <small class="text-muted">None</small>
                        {% endif %}
                    </h3>

                    <!-- Games -->
                    <h3>
                        Games:
                        {% if team['game_ids'] %}
                            {% for _id in team['game_ids'] %}
                                <small class="text-muted"><a href="{{ url_for('show_games', wow=_id)}}"><br />{{team['game_names'][_id]}}</a></small>
                            {% endfor %}
                        {% else %}
                            <small class="text-muted">None</small>
                        {% endif %}
                    </h3>

                    <!-- Created -->
                    <h3>
                        Created:
                        <small class="text-muted">{{team['created']}}</small>
                    </h3>

                    <!-- Updated -->
                    <h3>
                        Updated:
                        <small class="text-muted">{{team['updated']}}</small>
                    </h3>
                </div>
            </div>
        </div>
    </section>

{% endblock %}