{% extends 'base.html' %}

{% block navbar %}

<ul class="nav navbar-nav navbar-right">
	<li class="hidden">
		<a href="#page-top"></a>
	</li>
	<li>
		<a class="page-scroll" href="/#about">About</a>
	</li>
	<li>
		<a class="page-scroll" href="/users#users">Users</a>
	</li>
	<li>
		<a class="page-scroll" href="/games#games">Games</a>
	</li>
	<li>
		<a class="page-scroll" href="/teams#teams">Teams</a>
	</li>
	<li>
		<a class="page-scroll" href="/communities#communities">Communities</a>
	</li>
	<li>
		<a class="page-scroll" href="/#team">Our Team</a>
	</li>
	<li>
		<a class="page-scroll" href="/#resources">Resources</a>
	</li>
</ul>

{% endblock %}

{% block content %}

<!-- ID -->
<section id={{user['_id']}}>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">

					<form id="edit-user-form">
						
						<!-- Picture -->
						<img src={{user['image_url']}}>

						<input type="hidden" id="user-id-edit" name="user-id-edit" value="{{user['id']}}">

						<!-- Name -->
						<h3>
							Name:
							<small id="user-name" class="text-muted">{{user['name']}}</small>
							<small><input type="text" class="form-control" id="user-name-edit" name="user-name-edit" value="{{user['name']}}"></small>
						</h3>

						<!-- Description -->
						<h3>
							Description:
							<small id="user-description" class="text-muted">{{user['description']}}</small>
							<small><textarea class="form-control" id="user-description-edit" name="user-description-edit">{{user['description']}}</textarea></small>
						</h3>

						<!-- Language -->
						<h3>
							Language:
							<small id="user-language" class="text-muted">{{user['language']}}</small>
							<small><input type="text" id="user-language-edit" name="user-language-edit" class="form-control" value="{{user['language']}}"></small>
						</h3>

						<!-- Views -->
						<h3>
							Views:
							<small id="user-views" class="text-muted">{{user['views']}}</small>
							<small><input type="text" id="user-views-edit" name="user-views-edit" class="form-control" value="{{user['views']}}"></small>
						</h3>

						<!-- Followers -->
						<h3>
							Followers:
							<small id="user-followers" class="text-muted">{{user['followers']}}</small>
							<small><input type="text" id="user-followers-edit" name="user-followers-edit" class="form-control" value="{{user['followers']}}">
						</h3>
						
						<!-- URL -->
						<h3>
							URL:
							<small id="user-url" class="text-muted"><a href={{user['url']}}>{{user['url']}}</a></small>
							<small><input type="url" id="user-url-edit" name="user-url-edit" class="form-control" value="{{user['url']}}"></small>
						</h3>

						<!-- Game -->
						<h3>
							Game:
							{% if user['game_id'] %}
								<small class="text-muted" id="user-game">
									<a href="{{ url_for('show_games', wow=user['game_id'])}}">{{user['game']}}</a>
								</small>
								<small>
									<select class="form-control" id="user-game-edit" name="user-game-edit">
										<option >None</option>
										{% for game in games %}
											{% if user['game_id'] == game['id'] %}
												<option value="{{game['id']}}" selected>{{game['name']}}</option>
											{% else %}
												<option value="{{game['id']}}">{{game['name']}}</option>
											{% endif %}
										{% endfor %}
									</select>
								</small>
							{% else %}
								<small class="text-muted" id="user-game">
									None
								</small>
								<small>
									<select class="form-control" id="user-game-edit" name="user-game-edit">
										<option selected>None</option>
										{% for game in games %}
											<option value="{{game['id']}}">{{game['name']}}</option>
										{% endfor %}
									</select>
								</small>
							{% endif %}
						</h3>

						<!-- Community -->
						<h3>
							Community:
							{% if user['community_id'] %}
								<small class="text-muted" id="user-community">
									<a href="{{ url_for('show_communities', wow=user['community_id'])}}">{{user['community']}}</a>
								</small>
								<small>
									<select class="form-control" id="user-community-edit" name="user-community-edit">
										<option >None</option>
										{% for community in communities %}
											{% if user['community_id'] == community['id'] %}
												<option value="{{community['id']}}" selected>{{community['name']}}</option>
											{% else %}
												<option value="{{community['id']}}">{{community['name']}}</option>
											{% endif %}
										{% endfor %}
									</select>
								</small>
							{% else %}
								<small class="text-muted" id="user-community">
									None
								</small>
								<small>
									<select class="form-control" id="user-community-edit" name="user-community-edit">
										<option selected>None</option>
										{% for community in communities %}
											<option value="{{community['id']}}">{{community['name']}}</option>
										{% endfor %}
									</select>
								</small>
							{% endif %}
						</h3>


						<!-- Teams -->
						<h3>
							Teams:
							{% if user['team_ids'] %}
								{% for _id in user['team_ids'] %}
									<small class="text-muted" id="user-teams">
										<a href="{{ url_for('show_teams', wow=_id)}}"><br />{{user['team_names'][_id]}}</a>
									</small>
								{% endfor %}
								<small>
									<select multiple class="form-control" id="user-teams-edit" name="user-teams-edit">
										<option >None</option>
										{% for team in teams %}
											{% if team['id'] in user['team_ids'] %}
												<option value="{{team['id']}}" selected>{{team['name']}}</option>
											{% else %}
												<option value="{{team['id']}}">{{team['name']}}</option>
											{% endif %}
										{% endfor %}
									</select>
								</small>
							{% else %}
								<small class="text-muted" id="user-teams">
									None
								</small>
								<small>
									<select multiple class="form-control" id="user-teams-edit" name="user-teams-edit">
										<option selected>None</option>
										{% for team in teams %}
											<option value="{{team['id']}}">{{team['name']}}</option>
										{% endfor %}
									</select>
								</small>
							{% endif %}
						</h3>

						<!-- Created -->
						<h3>
							Created:
							<small id="user-created" class="text-muted">{{user['created']}}</small>
							<!-- <small><input type="text" id="user-created-edit" class="form-contrl" value="{{user['created']}}"></small> -->
							<small>
								<input class="form-control" type="date" value="{{user['created']}}" id="user-created-edit" name="user-created-edit">
							</small>
						</h3>

						<!-- Updated -->
						<h3>
							Updated:
							<small id="user-updated" class="text-muted">{{user['updated']}}</small>
							<small>
								<input class="form-control" type="date" value="{{user['updated']}}" id="user-updated-edit" name="user-updated-edit">
							</small>
						</h3>

						<button type="button" id="user-edit-submit" class="btn btn-primary">Submit</button>
					</form>
					<button type="button" id="user-edit-button"class="btn btn-default">Edit</button>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
{% block scripts %}
<script src="/static/js/editUser.js"></script>
{% endblock %}

